/* Theme Colors */
@import "../../styles/common/color.scss";

.home {
  .after-header-sec{
    background: $orange;
    height: 60px;
  }

  .nav-bg {
    background-color: $nav-bg;
  }

  .questions-firstclub {
    width: 80%;
    margin: 60px auto;
    .card-header {
      padding: .75rem 1.25rem;
      margin-bottom: 0;
      background: #fff;
      border-bottom: 1px solid #f1f1f1;
      .btn-link {
        color: $darkGrey;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none !important;
        font-family: 'tahoma';
        width: 100%;
        text-align: left;
      }
    }
  }

  .inner-accordion {}

  .questions-firstclub {
    .card-body {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 0rem;
    }
    .inner-accordion {
      .card-header {
        padding: 0rem;
        border-bottom: 0px;
      }
      .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        padding-top: 0px;
      }
      .card-header .btn-link {
        padding: .75rem 2.25rem;
        font-weight: normal;
        font-family: 'tahoma';
        font-size: 18px;
        padding-left: 80px;
        color: $lightGrey;
        &.collapsed {
          border-bottom: 1px solid #f1f1f1;
        }
      }
      .card-body {
        font-size: 14px;
        padding-left: 80px;
        color: $lightGrey;
      }
      .card {
        border-left: 0px;
        border-right: 0px;
      }
    }
  }

  .accordion-down {
    color: $lightGrey1;
    float: right;
  }

  .accordion-up {
    color: $orangeYellow;
    float: right;
  }

  .collapsed {
    .accordion-down {
      color: $lightGrey1;
      display: inline-block;
    }
    .accordion-up {
      color: $orangeYellow;
      display: none;
    }
  }

  .descktop-ios-wrapp .descktop-ios-inner {
    width: 30%;
    margin: 30px auto;
    .image{
        img{
            /*width: 30px;*/
        }
    }
    .dii-col {
      float: left;
      text-align: center;
      padding: 0px 15px;
      width: 36%;
      p {
        color: $greyBlackMix;
        font-size: 12px;
      }
      h4 {
        color: $greyBlackMix;
        font-size: 18px;
        margin-bottom: 0px;
      }

    }
    .dii-col-3 {
      width: 25%;
    }
  }
  .need-help{
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    text-align: center;
    i{
      color: #ff6600;
      font-size: 36px;
      display: block;
      margin-bottom: 5px;
    }
  }

  .main-banner {
    position: relative;
    height: 310px;
    overflow: hidden;
    .main-banner-content {
      position: absolute;
      bottom: 60px;
      width: 100%;
      .help-dropdown {
        background: $orangeYellow;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        display: inline-block;
        padding: 15px 15px;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        float: left;
        width: 25%;
        font-family: 'tahoma';
        cursor: pointer;
        position: relative;
        .help-dropdown-tb {
          position: absolute;
          left: 0px;
          width: 100%;
          font-family: 'tahoma';
          background: $orangeYellow;
          top: 55px;
          border-top: #fff solid 1px;
          display: none;
          ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            li {
              width: 100%;
              &:last-child {
                border: 0px;
              }
              a {
                font-family: 'tahoma';
                color: #fff;
                font-size: 18px;
                text-decoration: none;
                border-bottom: #f6f6f6 solid 1px;
                padding: 8px 15px;
                width: 100%;
                display: inline-block;
                &:hover {
                  background: $darkOrangeYellow;
                }
              }
            }
          }
        }
        span {
          float: right;
        }
      }
      .search-banner {
        background: #fff;
        padding: 8px 15px;
        display: inline-block;
        float: left;
        width: 75%;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        input {
          width: 85%;
          border: 0px;
          padding: 5px 15px;
          height: 40px;
          color: #e6e6e6;
          font-size: 18px;
        }
        .search-btn {
          background: none;
          border: 0px;
          font-size: 26px;
          color: $lightOrangeRed;
          float: right;
        }
      }
      .search-close {
        color: $lightSkyBlue;
        font-size: 18px;
        margin-top: 7px;
        display: inline-block;
        float: right;
        margin-right: 15px;
      }
      .main-banner-content-inner {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1300px;
    }
  }
  @media only screen and (max-width: 992px) {
    .main-banner .main-banner-content .main-banner-content-inner {
      width: 100%;
    }
    .descktop-ios-wrapp .descktop-ios-inner {
      width: 50%;
      margin: 30px auto;
    }
    .questions-firstclub {
      width: 100%;
      margin: 60px auto;
    }
  }

  @media only screen and (max-width: 650px) {

    .questions-firstclub .inner-accordion .card-header .btn-link,.questions-firstclub .inner-accordion .card-body {
      padding-left:30px;
    }
    .questions-firstclub {
      width: 100%;
      margin: 30px auto;
    }
    .descktop-ios-wrapp .descktop-ios-inner {
      width: 100%;
      margin: 30px auto;
    }
    .main-banner .main-banner-content {
      position: absolute;
      bottom: 10px;
      width: 100%;
    }
    .main-banner .main-banner-content .main-banner-content-inner {
      width: 100%;
      margin: 0 auto;
    }
    .main-banner .main-banner-content .help-dropdown {
      padding: 10px;
      font-size: 13px;
    }
    .main-banner .main-banner-content .search-banner input {
      width: 69%;
      border: 0px;
      padding: 5px 15px;
      height: 22px;
      color: #5d5d5c;
      font-size: 14px;
    }
    .main-banner .main-banner-content .search-banner .search-btn {
      font-size: 14px;
      margin-top: 2px;
    }
    .main-banner .main-banner-content .search-close {
      font-size: 11px;
      margin-top: 4px;
      margin-right: 5px;
    }
    .main-banner .main-banner-content .help-dropdown .help-dropdown-tb ul li a {
      font-size: 14px;
    }
    .main-banner .main-banner-content .help-dropdown .help-dropdown-tb {
      top: 38px;
    }
    .after-header-sec {
      height: 30px;
    }
    .navbar-brand{
      width: 60%;
    }
    .navbar-brand img{
      width: 100%;
    }
  }
}
