/* Theme Colors */
@import "common/color.scss";

/* Global Style */
@import url(https://www.fonts.com/font/microsoft-corporation/tahoma?QueryFontType=Web&src=GoogleWebFonts);

body {
  background: #f2f2ed;
  font-family: 'tahoma';
}

.cursor-pointer{
  cursor: pointer;
}

.float-left{
  float: left;
}

.orange-color{
  background-color: $orange !important;
}
.white-color{
  color: $white !important;
}
.margin-l-20{
  margin-left: 20px;
}
.margin-t-30{
  margin-top: 30px;
}