/* Theme Colors */
.pagination {
  display: inline-block;
  float: right;
  margin: 28px 0 0 0;
  border-radius: 5px; }
  .pagination a {
    color: #2e2c2a;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; }
    .pagination a.active {
      background-color: #ff6600;
      color: white;
      border: 1px solid #ff6600; }
    .pagination a:hover:not(.active) {
      background-color: #616366; }
    .pagination a:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pagination a:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .pagination .color-orange-yellow {
    background-color: #faa634 !important; }

.user-container {
  margin: 10px; }

.text-center {
  text-align: center !important; }
