$nav-bg:           rgb(242, 242, 242);
$lightSkyBlue:     #dce9fc;
$orange:           #ff6600;
$lightOrangeRed:   #ff6400;
$orangeYellow:     #faa634;
$darkOrangeYellow: #e08913;
$darkGrey:         #5d5f62;
$lightGrey:        #616366;
$lightGrey1:       #606265;
$greyBlackMix:     #363636;
$lightBlack:       #2e2c2a;
